---
layout: archive
title: "Service"
permalink: /service/
author_profile: true
---

{% include base_path %}

<h3>🌟 Organization</h3>

{% assign organized = site.service | sort: "date" | reverse %}
{% for post in organized %}
<div class="archive__item">
  <h2 class="archive__item-title" style="margin-top: 0.5em;">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h2>
  <p class="archive__item-excerpt">
    <strong>{{ post.role }}</strong> &mdash; {{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}
  </p>
</div>
{% endfor %}


<h3>Journal Reviews</h3>

<table>
  <thead><tr><th>Year</th><th>Journal</th></tr></thead>
  <tbody>
    <tr><td>2026</td><td>Springer Artificial Intelligence Review</td></tr>
    <tr><td>2026</td><td>Automated Software Engineering (ASE)</td></tr>
  </tbody>
</table>


<h3>Program Committee Member</h3>

<table>
  <thead><tr><th>Year</th><th>Conference</th></tr></thead>
  <tbody>
    <tr><td>2025, 2026</td><td>KDD Datasets &amp; Benchmarks</td></tr>
    <tr><td>2025, 2026</td><td>ECML-PKDD</td></tr>
    <tr><td>2025</td><td>WWW</td></tr>
    <tr><td>2025</td><td>ICPE Data Challenge</td></tr>
    <tr><td>2024, 2025, 2026</td><td>CIKM &mdash; <strong>Distinguished Reviewer</strong> award in 2024</td></tr>
    <tr><td>2024, 2026</td><td>LL4MSE Workshop</td></tr>
    <tr><td>2024</td><td>DELTA Workshop @ KDD 2024</td></tr>
    <tr><td>2024</td><td>MIDAS Workshop @ ECML-PKDD 2024</td></tr>
    <tr><td>2023</td><td>BIAS Workshop @ ECIR 2023</td></tr>
  </tbody>
</table>
