{% include base_path %}

<div class="rose-sign">
  <div class="rose-sign__roses">
    <span class="rose-sign__mark rose-sign__mark--univaq" role="img"
          aria-label="Ph.D., University of L'Aquila"
          title="Ph.D. &mdash; University of L'Aquila"></span>
    <span class="rose-sign__mark rose-sign__mark--au" role="img"
          aria-label="DDSA Postdoc, Aarhus University"
          title="DDSA Postdoc &mdash; Aarhus University"></span>
  </div>
  <span class="rose-sign__name">Andrea D&rsquo;Angelo</span>
  <span class="rose-sign__meta">&copy; {{ site.time | date: "%Y" }} &middot; Aarhus University</span>
</div>
